<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-md-3 mt-4" *ngFor="let data of movieData">
            <div class="card p-2" >
                <div class="row">
                    <div class="col-md-12 mt-2 text-center">
                        <img [src]="'./assets/image/' + data.image" width="200px" height="200px" alt="Image">
                        <span style="background-color: yellow;border-radius: 5px;padding: 2px;" *ngIf="!data.release">Cooming Soon</span>
                    </div>
                    <div class="col-md-12 mt-3 text-center">
                        <h4>{{data.name }}</h4>
                    </div>
                    <div class="col-md-12 mt-2">

                        <p>Release Date : {{data.relaseDate}}</p>
                        <H4>Actors</H4>
                        <ul *ngFor="let ac of data.actors">
                            <li>{{ac}}</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
 